.category-card {
  border: 2px solid black;
  width: 175px;
  height: 175px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  color: white;
}

.category-name {
  font-size: 27px;
  margin: 10px 12px 20px 12px;
}

.img-container {
  /* border: 2px solid black; */
  text-align: center;
}
.img-container img {
  height: 90px;
}
