.main {
  display: flex;
  position: relative;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
}

.info-container {
  display: flex;
  gap: 40px;
  width: 80vw;
  height: 82vh;
}

.browse {
  position: absolute;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  bottom: 10px;
  right: 137px;
  border-radius: 25px;
  padding: 8px 35px;
  color: #fff;
  background-color: #148a08;
  border: none;
}
