.signIn {
  width: 50vw;
  height: 100vh;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 50vw;
  height: 100vh;
}

.titleImg-div {
  margin-bottom: 18px;
  width: 384px;
  text-align: center;
}

.form-title {
  margin-bottom: 28px;
  color: white;
  width: 384px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.form {
  /* border: 2px solid black; */
  text-align: left;
  margin: 0 76px;
  width: 382px;
  padding: 10px 0;
}

.form-div {
  width: 382px;
}

.input {
  width: 380px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgba(41, 41, 41, 1);
  color: rgba(124, 124, 124, 1);
  font-size: 18px;
  margin-bottom: 5px;
  border: none;
}

.name-div {
  /* border: 2px solid black; */
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

.userName-div {
  /* border: 2px solid black; */
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

.email-div {
  /* border: 2px solid black; */
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

.mobileNo-div {
  /* border: 2px solid black; */
  font-family: "DM Sans", sans-serif;
  margin-bottom: 10px;
}

.checkbox {
  width: 380px;
  /* border: 2px solid black; */
  padding: 0 4px;
  margin-top: 15px;
  text-align: left;
  font-family: "DM Sans", sans-serif;
}

.sign-up-btn {
  padding: 10px 155px;
  border-radius: 20px;
  color: white;
  background-color: rgba(114, 219, 115, 1);
  font-size: 17px;
  /* border: 2px solid black; */
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  border: none;
}

.check-msg {
  color: rgba(124, 124, 124, 1);
  margin-left: 10px;
  font-size: 14px;
}

.mark {
  color: rgba(114, 219, 115, 1);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.terms {
  color: rgba(124, 124, 124, 1);
  /* border: 2px solid black; */
  margin-top: 17px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.policy {
  color: rgba(124, 124, 124, 1);
  /* border: 2px solid black; */
  margin-top: 15px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

label {
  color: red;
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  margin-left: 5px;
}
